{% extends "user/userForm.html.twig" %}
{% block title %}User Update{% endblock %}
{% block userForm %}/user/edit/{{ user.getUserId() }}{% endblock%}
{% block firstName %}{{user.getFirstName()}}{% endblock %}
{% block lastName %}{{ user.getLastName() }}{% endblock %}
{% block middleName %}{{ user.getMiddleName() }}{% endblock %}
{% block gender %}{{ user.getGender() }}{% endblock %}
{% block birthDay %}{{ new_date }}{% endblock %}
{% block email %}{{ user.getEmail() }}{% endblock %}
{% block phone %}{{ user.getPhone() }}{% endblock %}
{% block currentAvatar %}<p>Current Avatar: {{ user.getAvatarPath()}} </p>{% endblock %}
{% block hiddenInputs %}
    <div>
        <input type="hidden" name="id" value="{{ user.getUserId()}}">
        <input type="hidden" name="oldPhoto" value="{{ user.getAvatarPath()}}">
    </div>
{% endblock %}