{% extends "base.html.twig" %}
{% block title %}User Update{% endblock %}
{% block content %}
<form action="/user/edit/{{ user.getUserId() }}" method="post" enctype="multipart/form-data">
    <div>
        <label for="first_name">First Name:</label>
        <input name="first_name" id="first_name" type="text" value="{{ user.getFirstName() }}">
    </div>
    <div>
        <label for="last_name">Last Name:</label>
        <input name="last_name" id="last_name" type="text" value="{{ user.getLastName() }}">
    </div>
    <div>
        <label for="middle_name">Middle Name:</label>
        <input name="middle_name" id="middle_name" type="text" value="{{ user.getMiddleName() }}">
    </div>
    <div>
        <label for="gender">Gender:</label>
        <input name="gender" id="gender" type="text" value="{{ user.getGender() }}">
    </div>
    <div>    
        <label for="birth_date">Change Birth Date:</label>
        <input name="birth_date" id="birth_date" type="date" value="{{ new_date }}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input name="email" id="email" type="text" value="{{ user.getEmail() }}">
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input name="phone" id="phone" type="text" value="{{ user.getPhone() }}">
    </div>
    <div>    
        <label for="avatar_path">Change Avatar Path:</label>
        <input name="avatar_path" id="avatar_path" type="file" accept="image/png, image/jpeg, image/gif">
        <p>Current Avatar: {{ user.getAvatarPath()}} </p>
    </div>
    <div>
        <input type="hidden" name="id" value="{{ user.getUserId()}}">
        <input type="hidden" name="oldPhoto" value="{{ user.getAvatarPath()}}">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}